.head{
padding-left:10px;
padding-right:5px;
padding-top: 2px;
}

#logo2{
    height:200px;
    width:55%;
}

#logo3{
    height:50px;
    width:20%;
}

.feature{
    width:95%;
    padding-left:30px;
}

.formatting{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.formatting #sidebar-left{
    flex: 0 1 20%;
}

.formatting #content-right{
    flex: 0 1 65%;
    flex-grow: 3;
}