{#
/**
 * @file
 * Contains the text of the mydata explanation page
 */
#}

<div class='mydata-description'>
    <h2>The page contain information about employees.</h2>
    <p>Operations: Delete and Update</p>
</div>
